
.env
.DS_Store
backend/db/__pycache__/__init__.cpython-312.pyc
backend/db/__pycache__/index_utils.cpython-312.pyc
backend/db/__pycache__/mongo_utils.cpython-312.pyc
backend/db/__pycache__/mongodb_client.cpython-312.pyc
backend/embeddings/__pycache__/clip.cpython-312.pyc
backend/embeddings/__pycache__/gemini_text_embedding.cpython-312.pyc
backend/embeddings/__pycache__/image_embedding_pipeline.cpython-312.pyc
backend/embeddings/__pycache__/sbert.cpython-312.pyc
backend/loaders/__pycache__/__init__.cpython-312.pyc
backend/loaders/__pycache__/arxiv_loader.cpython-312.pyc
backend/loaders/__pycache__/pubmed_loader.cpython-312.pyc
backend/loaders/__pycache__/user_pdf_loader.cpython-312.pyc
backend/multimodal/__pycache__/__init__.cpython-312.pyc
backend/multimodal/__pycache__/pdf_processing.cpython-312.pyc
backend/utils/__pycache__/attribute_combiner.cpython-312.pyc
backend/utils/__pycache__/csv_processing.cpython-312.pyc
backend/utils/__pycache__/gcs_utils.cpython-312.pyc
backend/utils/__pycache__/general_helpers.cpython-312.pycnotebooks/multimodal_rag_mongodb_voyage_ai.ipynb
